body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;  
}
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*HEADER*/
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-logo .logo-accent {
    color: #4D5AE5;
}
.nav-link {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2E2F42; 
}
.contacts-link {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
            color: #434455;
}
.contacts {
    font-style: normal;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
/*HERO*/
.section-main {
    background-color: #2e2f42;
}
.main-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
}
.order-button {
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}
.order-button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: #4d5ae5;
}
/*FEATURES*/
.features-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
}
.features-text {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
}
/*TEAM*/
.section-team {
    background-color: #f4f4fd;
}
.team-item {
    background-color: #fff;
}
.title-team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}
.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}
.team-text {
    text-align: center;
    letter-spacing: 0.02em;
}
/*PORTFOLIO*/
.title-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;;
        letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}
.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
            color: #2e2f42;
}
/*FOOTER*/
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo .logo-accent {
    color: #4D5AE5;
}
.footer-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}